* {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin: 0px;
}

p {
    color: rgb(102, 102, 102);
    font-weight: normal;
    font-size: 11pt;
}

#system-sel {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(0, 70, 127);
    font-size: 14pt;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    height: 40px;
}

#header {
    margin: 10px;
}

.system-overview {
    background-color: #eee;
    /* height: 300px; */
    height: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.swatch-panel {
    padding-top: 5px;
    width: 19%;
    float: left;
    height: 60px;
}

.swatch-ok {
    background-color: #87de39;
}
.swatch-meh {
    background-color: #ffc557;
}
.swatch-bad {
    background-color: #f45;
}

.swatch-display {
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    color: #237;
}

.swatch-title {
    text-align: center;
    font-size: 12pt;
    font-weight: normal;
    color: #237;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}