{% extends "base.html" %}
{% block title %}Overview{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    <div class="container-fluid bg-danger" style="margin-top: 15px;">
      <ul class="flashes list-unstyled">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["info"]) %}
    {% if messages %}
    <div class="container-fluid bg-info"  style="margin-top: 15px;">
      <ul class="flashes list-unstyled">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}

    <div class="container-fluid">
      <div class="panel panel-default" style="margin-top: 15px;">
        <div class="panel-heading">Your Aquaponics Systems</div>
        <div class="panel-body">

          {% for system in systems %}
          <div class="swatches">
            <div class="sys-desc">
              <div><img alt="Leaf" style="height: 16px;" src="/static/images/leaf_icon.png"><span style="margin-right: 10px;">{{system.name}}</span><a href="{{url_for('sys_details', system_uid=system.sys_uid)}}" title="Show Details"><span class="glyphicon glyphicon-eye-open"></span></a></div>
              <div style="font-size: 8pt;">(updated {{system.time}})</div>
            </div>
            <div class="swatch-panel {{system.temperature|swatch_temp_class(sys_uid)}}" style="margin-left: 2%">
              <div class="swatch-title">Temperature</div>
              <div class="swatch-display">{{system.temperature|format_degc|safe}}</div>
            </div>
            <div class="swatch-panel {{system.ph|swatch_ph_class(sys_uid)}}">
              <div class="swatch-title">pH</div>
              <div class="swatch-display">{{system.ph|format_nounit}}</div>
            </div>
            <div class="swatch-panel {{system.oxygen|swatch_o2_class(sys_uid)}}">
              <div class="swatch-title">O<sub>2</sub></div>
              <div class="swatch-display">{{system.oxygen|format_mgl}}</div>
            </div>
            <div class="swatch-panel {{system.nitrate|swatch_nitrate_class(sys_uid)}}">
              <div class="swatch-title">Nitrate</div>
              <div class="swatch-display">{{system.nitrate|format_mgl}}</div>
            </div>
            <div class="swatch-panel {{system.ammonium|swatch_ammonium_class(sys_uid)}}">
              <div class="swatch-title">Ammonium</div>
              <div class="swatch-display">{{system.ammonium|format_mgl}}</div>
            </div>
          </div><!-- /.swatches -->
          {% endfor %}

        </div><!-- .panel-body -->
        <div style="margin-left: 5px; margin-bottom: 5px;">
          <button id="newbutton" type="button" class="btn btn-default" title="Add a new Aquaponics system" data-toggle="modal" data-target="#newsys-modal"><span class="glyphicon glyphicon-plus"></span> New System...</button>
        </div>
      </div><!-- .panel -->
    </div><!-- /.container-fluid -->

{# This is the modal for creating a new system #}
<div class="modal fade" id="newsys-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Aquaponics System</h4>
      </div>
      <div class="modal-body">
        <form id="createsys-form" action="{{url_for('create_system')}}" method="post">
          <div class="form-group">
            <label for="system-name" class="control-label">Name:</label>
            <input type="text" class="form-control" id="system-name" name="system-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="createsys-button" type="submit" class="btn btn-primary">Create System</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block bottom %}
<script>
$('#createsys-button').click(function () {
  $('#newsys-modal').modal('hide');
  $('#createsys-form').submit();
})
</script>
{% endblock %}
