{% extends "base.html" %}
{% block title %}System Details{% endblock %}
{% block content %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="margin-bottom: 40px;">
          <ul class="nav nav-sidebar">
            <li id="overview-li" class="active"><a href="javascript:void(0)" title="Overview" id="overview-link"><span class="glyphicon glyphicon-list-alt"></span> Overview <span class="sr-only">(current)</span></a></li>
            <li id="analytics-li"><a href="javascript:void(0)" title="Display analytics" id="analytics-link"><span class="glyphicon glyphicon-stats"></span> Analytics</a></li>
          </ul>
        </div><!-- /.col-sm-3 sidebar -->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {# This is the Overview panel #}
          <div id="overview-panel" class="panel panel-default" style="margin-top: 15px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span> Overview for <strong>{{system_name}}</strong></div>

            <div class="panel-body">
{% if img_url %}
              <div>
                <img class="img-details" src="{{img_url}}">
                <div style="margin-bottom: 10px"></div>
              </div>
{% endif %}
              {% if start_date %}
              <dl>
                <dt>Date Started</dt>
                <dd>{{start_date}}</dd>
              </dl>
              {% endif %}
              {% if aqx_technique %}
              <dl>
                <dt>Aquaponics Technique</dt>
                <dd>{{aqx_technique}}</dd>
              </dl>
              {% endif %}
              <dl>
                <dt>Aquatics Organisms</dt>
                <dd>
                  {% for name, count in system_organisms %}
                  {{name}} ({{count}})<br>
                  {% endfor %}
                </dd>
              </dl>
              <dl>
                <dt>Crops</dt>
                <dd>
                  {% for name, count in system_crops %}
                  {{name}} ({{count}})<br>
                  {% endfor %}
                </dd>
              </dl>
            </div><!-- /.panel-body -->
          </div><!-- /.panel (Overview)-->

          {# This is the Analytics panel #}
          <div id="analytics-panel" class="panel panel-default hidden" style="margin-top: 15px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Analytics for <strong>{{system_name}}</strong></div>

            <div class="panel-body">
              <row>
                <div class="col-md-1" id="temp-chart" style="width: 280px; height: 180px"></div>
                <div class="col-md-1" id="ph-chart" style="width: 280px; height: 180px"></div>
              </row>
              <row>
                <div class="col-md-1" id="o2-chart" style="width: 280px; height: 180px"></div>
                <div class="col-md-1" id="ammonium-chart" style="width: 280px; height: 180px"></div>
              </row>
              <row>
                <div class="col-md-1" id="nitrite-chart" style="width: 280px; height: 180px"></div>
                <div class="col-md-1" id="light-chart" style="width: 280px; height: 180px"></div>
              </row>
              <row>
                <div class="col-md-1" id="chlorine-chart" style="width: 280px; height: 180px"></div>
                <div class="col-md-1" id="hardness-chart" style="width: 280px; height: 180px"></div>
              </row>
              <row>
                <div class="col-md-1" id="alkalinity-chart" style="width: 280px; height: 180px"></div>
                <div class="col-md-1" id="dummy-chart" style="width: 280px; height: 180px"></div>
              </row>

            </div><!-- /.panel-body -->
          </div><!-- /.panel (Analytics)-->
        </div><!-- /.main -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}

{% block bottom %}
<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={
             'modules':[{
             'name':'visualization',
             'version':'1',
             'packages':['corechart']
             }]
             }"></script>
<script src="/static/js/aquaponics.js"></script>
<script>

function activateSection(section) {
  var selector = "#" + section + "-panel";
  var panelSelectors = ["#overview-panel", "#analytics-panel"];
  var liSelectors = ["#overview-li", "#analytics-li"];
  for (var i=0; i < panelSelectors.length; i++) {
    if (panelSelectors[i] !== selector) {
      $(panelSelectors[i]).removeClass('hidden');
      $(panelSelectors[i]).addClass('hidden');
    }
  }
  $(selector).removeClass('hidden');
  selector = "#" + section + "-li";
  for (var i = 0; i < liSelectors.length; i++) {
    $(liSelectors[i]).removeClass('active');
  }
  $(selector).addClass('active');
}

$('#analytics-link').click(function () { activateSection("analytics"); });
$('#overview-link').click(function () { activateSection("overview"); });

var tempRows = {{temp_rows|tojson}};
var phRows = {{ph_rows|tojson}};
var o2Rows = {{o2_rows|tojson}};
var ammoniumRows = {{ammonium_rows|tojson}};
var nitriteRows = {{nitrite_rows|tojson}};
var lightRows = {{light_rows|tojson}};
var chlorineRows = {{cl_rows|tojson}};
var hardnessRows = {{hard_rows|tojson}};
var alkalinityRows = {{alk_rows|tojson}};

aqx.drawChart('temp-chart', 'Temperature', aqx.makeTimeSeriesData(['Temperature'], tempRows));
aqx.drawChart('ph-chart', 'pH', aqx.makeTimeSeriesData(['pH'], phRows));
aqx.drawChart('o2-chart', 'O2', aqx.makeTimeSeriesData(['O2'], o2Rows));
aqx.drawChart('ammonium-chart', 'Ammonium & Nitrate', aqx.makeTimeSeriesData(['Ammonium', 'Nitrate'], ammoniumRows));
aqx.drawChart('nitrite-chart', 'Nitrite', aqx.makeTimeSeriesData(['Nitrite'], nitriteRows));
aqx.drawChart('light-chart', 'Light', aqx.makeTimeSeriesData(['Light'], lightRows));
aqx.drawChart('chlorine-chart', 'Chlorine', aqx.makeTimeSeriesData(['Chlorine'], chlorineRows));
aqx.drawChart('hardness-chart', 'Hardness', aqx.makeTimeSeriesData(['Hardness'], hardnessRows));
aqx.drawChart('alkalinity-chart', 'Alkalinity', aqx.makeTimeSeriesData(['Alkalinity'], alkalinityRows));

</script>
{% endblock %}
