{% extends "base.html" %}
{% block title %}System Details{% endblock %}
{% block content %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="margin-bottom: 40px;">
          <ul class="nav nav-sidebar">
            <li id="overview-li" class="active"><a href="javascript:void(0)" title="Overview" id="overview-link"><span class="glyphicon glyphicon-list-alt"></span> Overview <span class="sr-only">(current)</span></a></li>
            <li id="analytics-li"><a href="javascript:void(0)" title="Display analytics" id="analytics-link"><span class="glyphicon glyphicon-stats"></span> Analytics</a></li>
            {% if not readonly %}
            <li id="input-li"><a href="javascript:void(0)" title="Input" id="input-link"><span class="glyphicon glyphicon-hdd"></span> Input</a></li>
            <li id="alert-li"><a href="javascript:void(0)" title="Alerts" id="alert-link"><span class="glyphicon glyphicon-warning-sign"></span> Alerts</a></li>

            {% endif %}
          </ul>
        </div><!-- /.col-sm-3 sidebar -->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {# Flash messages go here #}
          {% with messages = get_flashed_messages(category_filter=["error"]) %}
          {% if messages %}
          <div class="container-fluid bg-danger" style="margin-top: 15px;">
            <ul class="flashes list-unstyled">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% endwith %}
          {% with messages = get_flashed_messages(category_filter=["info"]) %}
          {% if messages %}
          <div class="container-fluid bg-info"  style="margin-top: 15px;">
            <ul class="flashes list-unstyled">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% endwith %}{# End flash section #}


          {# This is the Overview panel #}
          <div id="overview-panel" class="panel panel-default" style="margin-top: 15px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span> Overview for <strong>{{system_name}}</strong></div>

            <div class="panel-body">
              <dl>
                <dt>Date Created</dt>
                <dd>{{creation_time}}</dd>
              </dl>
              <dl>
                <dt>Fish/Number</dt>
                <dd>Tilapia, 6</dd>
              </dl>
              <dl>
                <dt>Plants/Number</dt>
                <dd>Bok Choy, 4</dd>
              </dl>
              <dl>
                <dt>Tank Size</dt>
                <dd>100 gallons</dd>
              </dl>
              <dl>
                <dt>Grow Bed Substrate</dt>
                <dd>Lava Stone</dd>
              </dl>
              <dl>
                <dt>Fish Food Type/Amount</dt>
                <dd>Acme Gro-Kwik Pellets, 50g/day</dd>
              </dl>
            </div><!-- /.panel-body -->
          </div><!-- /.panel (Overview)-->

          {# This is the Analytics panel #}
          <div id="analytics-panel" class="panel panel-default hidden" style="margin-top: 15px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Analytics for <strong>{{system_name}}</strong></div>

            <div class="panel-body">
              <row>
                <div class="col-md-1" id="temp-chart" style="width: 240px; height: 100px"></div>
                <div class="col-md-1" id="ph-chart" style="width: 240px; height: 100px"></div>
                <div class="col-md-1" id="o2-chart" style="width: 240px; height: 100px"></div>
              </row>
              <row>
                <div class="col-md-1" id="ammonium-chart" style="width: 240px; height: 100px"></div>
                <div class="col-md-1" id="nitrate-chart" style="width: 240px; height: 100px"></div>
              </row>
            </div><!-- /.panel-body -->
          </div><!-- /.panel (Analytics)-->

          {% if not readonly %}
          {# This is the Input panel #}
          <div id="input-panel" class="panel panel-default hidden" style="margin-top: 15px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-hdd"></span> Input data for <strong>{{system_name}}</strong></div>

            <div class="panel-body">
              <h4>Measurement Data Import</h4>
              <form method="post" action="{{url_for('import_csv')}}" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="import-file">CSV file <a id="csvhelp-link" href="#csvhelp-modal" title="CSV Upload Help" data-toggle="modal"><span class="glyphicon glyphicon-question-sign"></span></a></label>
                  <input type="file" id="import-file" name="import-file">
                  <input type="hidden" class="hidden" name="system-uid" value="{{system_uid}}"></input>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <hr>
              <h4>Manual Input</h4>
              <form method="post" action="{{url_for('add_measurement')}}">
                <input type="hidden" class="hidden" name="system-uid" value="{{system_uid}}"></input>
                <div class="form-group">
                  <label for="measure-time">Measurement Date&amp;Time</label>
                  <input type="datetime-local" id="measure-time" name="measure-time" step="1" required></input>
                </div>
                <div class="form-group">
                  <select id="measure-type" name="measure-type">
                    <option value="o2">Dissolved Oxygen (mg/l)</option>
                    <option value="ph">pH</option>
                    <option value="temp">Temperature (&deg;C)</option>
                    <option value="nitrate">Nitrate (mg/l)</option>
                    <option value="ammonium">Ammonium (mg/l)</option>
                    <option value="light">Light (cd)</option>
                  </select>
                  <input id="measure-value" name="measure-value" type="number" pattern="[0-9]+(.[0-9]+)?" style="width: 100px; text-align: right;" value="0.0" step="0.001" required></input>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </form>
              <!--
              <hr>
              <h3>REST API</h3>
              TODO -->
            </div><!-- /.panel-body -->
          </div><!-- /.panel (Input)-->

          <div id="alert-panel" class="panel panel-default hidden" style="margin-top: 15px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-warning-sign"></span> Alerts for <strong>{{system_name}}</strong></div>

            <div class="panel-body">
              <h4>Alerts</h4>
              <p>TODO</p>
            </div><!-- /.panel-body -->
          </div><!-- /.panel (Input)-->

          {% endif %}

        </div><!-- /.main -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->


{# This is the modal for the CSV help #}
<div class="modal fade" id="csvhelp-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">CSV Upload Help</h4>
      </div>
      <div class="modal-body">
        <h3>CSV Upload</h3>
        <p>
          Aquaponics measurement information can be specified as a
          tabular CSV format as follows:                
        </p>
        <h4>Header</h4>
        <p>
          The header specifies the content of each column, in order for the system
          to recognize the type of content, column titles must follow the following
          names:
          <ul>
            <li><strong>time</strong></li>
            <li><strong>ph</strong></li>
            <li><strong>o2</strong></li>
            <li><strong>ammonium</strong></li>
            <li><strong>nitrate</strong></li>
            <li><strong>light</strong></li>
          </ul>
        </p>
        <h4>Data formats</h4>
        <p>
          Measurement data is expected to be in decimal format. Time information
          has the general format
        </p>
        <p>
          <code>MONTH/DAYOFMONTH/YEAR HOURS:MINUTES:SECONDS</code>
        </p>
        <p>
          The <strong>time</strong> field is mandatory, while the user can specify any number
          of the other fields for the submitted data.
        </p>
        <h4>Example</h4>
        <p>
          The input spreadsheet should look something like this (note headers and value formats).
        </p>
        <img src="/static/images/csv_example.png" alt="CSV example">
        <p>
          Exporting this as a CSV file, wiil produce the following output:
        </p>
        <p>
          <code>
            time,o2,ph,nitrate,ammonium,temperature,light<br>
            08/13/2015 13:20:15,9.3,6.87,23.23,12.24,24.23,2300<br>
            08/14/2015 12:46:15,8.83,6.62,42.51,15.31,24.51,2230<br>
            ...<br>
          </code>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block bottom %}
<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={
             'modules':[{
             'name':'visualization',
             'version':'1',
             'packages':['corechart']
             }]
             }"></script>
<script>

function activateSection(section) {
  var selector = "#" + section + "-panel";
  var panelSelectors = ["#overview-panel", "#analytics-panel", "#input-panel", "#alert-panel"];
  var liSelectors = ["#overview-li", "#analytics-li", "#input-li", "#alert-li"];
  for (var i=0; i < panelSelectors.length; i++) {
    if (panelSelectors[i] !== selector) {
      $(panelSelectors[i]).removeClass('hidden');
      $(panelSelectors[i]).addClass('hidden');
    }
  }
  $(selector).removeClass('hidden');
  selector = "#" + section + "-li";
  for (var i = 0; i < liSelectors.length; i++) {
    $(liSelectors[i]).removeClass('active');
  }
  $(selector).addClass('active');
}

$('#analytics-link').click(function () { activateSection("analytics"); });
$('#overview-link').click(function () { activateSection("overview"); });
$('#input-link').click(function () { activateSection("input"); });
$('#alert-link').click(function () { activateSection("alert"); });


function makeTimeSeriesData(ylabel, rows) {
  var data = new google.visualization.DataTable();         
  data.addColumn('string', 'Time');         
  data.addColumn('number', ylabel);
  data.addRows(rows);
  return data;
}

function drawChart(elementId, label, data) {
  var chart = new google.visualization.LineChart(document.getElementById(elementId));
  var options = {
    title: label,
    width: 240, height: 100,
    legend: { position: 'bottom'}
  };
  chart.draw(data, options);
  return chart;
}

var tempRows = {{temp_rows|tojson}};
var phRows = {{ph_rows|tojson}};
var o2Rows = {{o2_rows|tojson}};
var ammoniumRows = {{ammonium_rows|tojson}};
var nitrateRows = {{nitrate_rows|tojson}};

drawChart('temp-chart', 'Temperature', makeTimeSeriesData('Temperature', tempRows));
drawChart('ph-chart', 'pH', makeTimeSeriesData('pH', phRows));
drawChart('o2-chart', 'O2', makeTimeSeriesData('O2', o2Rows));
drawChart('ammonium-chart', 'Ammonium', makeTimeSeriesData('Ammonium', ammoniumRows));
drawChart('nitrate-chart', 'Nitrate', makeTimeSeriesData('Nitrate', nitrateRows));
</script>
{% endblock %}
