{% extends "base.html" %}
{% block title %}System Details{% endblock %}
{% block content %}

    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li id="overview-li" class="active"><a href="javascript:void(0)" title="Overview" id="overview-link"><span class="glyphicon glyphicon-list-alt"></span> Overview <span class="sr-only">(current)</span></a></li>
            <li id="analytics-li"><a href="javascript:void(0)" title="Display analytics" id="analytics-link"><span class="glyphicon glyphicon-stats"></span> Analytics</a></li>
            <li id="input-li"><a href="javascript:void(0)" title="Input" id="input-link"><span class="glyphicon glyphicon-pencil"></span> Input</a></li>
            <li id="import-li"><a href="javascript:void(0)" title="Import" id="import-link"><span class="glyphicon glyphicon-open-file"></span> Import</a></li>
            <li id="alert-li"><a href="javascript:void(0)" title="Alerts" id="alert-link"><span class="glyphicon glyphicon-warning-sign"></span> Alerts</a></li>
          </ul>
          </div>
        </nav><!-- /.navbar -->

        <div class="main" style="margin-left: 5px; margin-right: 5px">
          {# Flash messages go here #}
          {% with messages = get_flashed_messages(category_filter=["error"]) %}
          {% if messages %}
          <div class="container-fluid bg-danger" style="margin-top: 15px;">
            <ul class="flashes list-unstyled">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% endwith %}
          {% with messages = get_flashed_messages(category_filter=["info"]) %}
          {% if messages %}
          <div class="container-fluid bg-info"  style="margin-top: 15px;">
            <ul class="flashes list-unstyled">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% endwith %}{# End flash section #}

          {# This is the Overview panel #}
          <div id="overview-panel" class="panel panel-default" style="margin-top: 15px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span> Overview for <strong>{{system_name}}</strong></div>

            <div class="panel-body">
              <div id="img-details" class="img-details"></div>
              <!--
              <dl>
                <dt>Date Created</dt>
                <dd>{{creation_time}}</dd>
              </dl> -->
              <form class="form-horizontal" method="post" action="{{url_for('update_system_details')}}" style="width: 90%; margin-left: 10pt;">
                <input type="hidden" class="hidden" name="system-uid" value="{{system_uid}}"></input>
                <div class="form-group">
                  <label for="system-name">System Name</label>
                  <input class="form-control" type="text" id="system-name" name="system-name" placeholder="System Name" value="{{system_name}}" required></input>
                </div>

                <div class="form-group">
                  <label for="start-date">Date Started</label>
                  <input class="form-control" type="date" id="start-date" name="start-date" value="{{start_date}}"></input>
                </div>
                <div class="form-group">
                  <label for="aqx-technique">Aquaponics Technique</label>
                  <select class="form-control" id="aqx-technique" name="aqx-technique">
                    <option value=""></option>
                    {% for tech in aqx_techniques %}<option value="{{tech[0]}}" {% if tech[0] == aqx_tech_id %}selected{% endif %}>{{tech[1]}}</option>{% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="aquatic-org">Aquatic Organism</label>
                  <select class="form-control" id="aquatic-org" name="aquatic-org">
                    <option value=""></option>
                    {% for o in aq_orgs %}<option value="{{o[0]}}" {% if o[0] == aqx_org_id %}selected{% endif %}>{{o[1]}}</option>{% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <input class="form-control" type="number" id="num-aquatic-org" name="num-aquatic-org" placeholder="Number of Organisms" value="{{num_aqx_org}}"></input>
                </div>

                <div class="form-group">
                  <label for="crop">Crop</label>
                  <select class="form-control" id="crop" name="crop">
                    <option value=""></option>
                    {% for c in crops %}<option value="{{c[0]}}" {% if c[0] == crop_id %}selected{% endif %}>{{c[1]}}</option>{% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <input class="form-control" type="number" id="num-crops" name="num-crops" placeholder="Number of Crops" value="{{num_crops}}"></input>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Save Changes</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete-modal">Delete System</button>
                </div>
              </form>
            </div><!-- /.panel-body -->
          </div><!-- /.panel (Overview)-->

          {# This is the Analytics panel #}
          <div id="analytics-panel" class="panel panel-default hidden" style="margin-top: 15px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Analytics for <strong>{{system_name}}</strong></div>

            <div class="panel-body">
              <row>
                <div class="col-md-1" id="temp-chart" style="width: 360px; height: 180px"></div>
                <div class="col-md-1" id="ph-chart" style="width: 360px; height: 180px"></div>
              </row>
              <row>
                <div class="col-md-1" id="o2-chart" style="width: 360px; height: 180px"></div>
                <div class="col-md-1" id="ammonium-chart" style="width: 360px; height: 180px"></div>
              </row>
              <row>
                <div class="col-md-1" id="nitrite-chart" style="width: 360px; height: 180px"></div>
                <div class="col-md-1" id="light-chart" style="width: 360px; height: 180px"></div>
              </row>
            </div><!-- /.panel-body -->
          </div><!-- /.panel (Analytics)-->

          {# This is the Input panel #}
          <div id="input-panel" class="panel panel-default hidden" style="margin-top: 15px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-pencil"></span> Input data for <strong>{{system_name}}</strong></div>

            <ul class="nav nav-tabs">
              <li id="dio-li" role="presentation" class="active"><a id="dio-link" href="javascript:void(0)">Dis. Oxygen</a></li>
              <li id="temp-li" role="presentation"><a id="temp-link" href="javascript:void(0)">Temperature</a></li>
              <li id="light-li" role="presentation"><a id="light-link" href="javascript:void(0)">Light</a></li>
              <li id="nh4-li" role="presentation"><a id="nh4-link" href="javascript:void(0)">Ammonium</a></li>
              <li id="no3-li" role="presentation"><a id="no3-link" href="javascript:void(0)">Nitrate</a></li>
              <li id="no2-li" role="presentation"><a id="no2-link" href="javascript:void(0)">Nitrite</a></li>
              <li id="ph-li" role="presentation"><a id="ph-link" href="javascript:void(0)">pH</a></li>
            </ul>

            <div class="panel-body">
              <form class="form-horizontal" method="post" action="{{url_for('add_measurement')}}">
                <input type="hidden" class="hidden" name="system-uid" value="{{system_uid}}"></input>
                <div class="form-group">
                  <label for="measure-date">Measurement Date</label>
                  <input class="form-control" type="date" id="measure-date" name="measure-date" required></input>
                </div>
                <div class="form-group">
                  <label for="measure-time">Measurement Time</label>
                  <input class="form-control" type="time" id="measure-time" name="measure-time" step="1"></input>
                </div>

                <div id="dio-panel">
                  <div class="form-group">
                    <label for="o2-value">&nbsp;</label>
                    <div class="input-group">
                      <input id="o2-value" class="form-control" name="o2-value" type="number" pattern="[0-9]+(.[0-9]+)?" style="text-align: right;" placeholder="0.0" step="0.001" aria-describedby="o2-addon"></input>
                      <span id="o2-addon" class="input-group-addon">mg/l</span>
                    </div>
                  </div>
                  <div>
                    <div id="o2-chart2" style="width: 360px; height: 180px"></div>
                  </div>

                </div><!-- dio-panel -->

                <div id="temp-panel" class="hidden">
                  <div class="form-group">
                    <label for="temp-value">&nbsp;</label>
                    <div class="input-group">
                      <input id="temp-value" class="form-control" name="temp-value" type="number" pattern="[0-9]+(.[0-9]+)?" style="text-align: right;" placeholder="0.0" step="0.001" aria-describedby="temp-addon"></input>
                      <span id="temp-addon" class="input-group-addon">&deg;C</span>
                    </div>
                  </div>
                  <div>
                    <div id="temp-chart2" style="width: 360px; height: 180px"></div>
                  </div>
                </div><!-- temp-panel -->

                <div id="light-panel" class="hidden">
                  <div class="form-group">
                    <label for="light-value">&nbsp;</label>
                    <div class="input-group">
                      <input id="light-value" class="form-control" name="light-value" type="number" pattern="[0-9]+(.[0-9]+)?" style="text-align: right;" placeholder="0.0" step="0.001" aria-describedby="light-addon"></input>
                      <span id="light-addon" class="input-group-addon">lux</span>
                    </div>
                  </div>
                </div><!-- light-panel -->


                <div id="nh4-panel" class="hidden">
                  <div class="form-group">
                    <label for="nh4-strip">Strip Color</label>
                    <div id="nh4-strip" class="form-control nh4-strip"><div id="nh4-picker" class="strip-picker" style="left: 100px;"></div></div>
                  </div>

                  <div class="form-group">
                    <label for="ammonium-value">Value</label>
                    <div class="input-group">
                      <input id="ammonium-value" class="form-control" name="ammonium-value" type="number" pattern="[0-9]+(.[0-9]+)?" style="text-align: right;" placeholder="0.0" step="0.001" aria-describedby="ammonium-addon"></input>
                      <span id="ammonium-addon" class="input-group-addon">mg/l</span>
                    </div>
                  </div>
                </div><!-- nh4-panel -->

                <div id="no3-panel" class="hidden">
                  <div class="form-group">
                    <label for="no3-strip">Strip Color</label>
                    <div id="no3-strip" class="form-control no3-strip"><div id="no3-picker" class="strip-picker" style="left: 100px;"></div></div>
                  </div>

                  <div class="form-group">
                    <label for="nitrate-value">Value</label>
                    <div class="input-group">
                      <input id="nitrate-value" class="form-control" name="nitrate-value" type="number" pattern="[0-9]+(.[0-9]+)?" style="text-align: right;" placeholder="0.0" step="0.001" aria-describedby="nitrate-addon"></input>
                      <span id="nitrate-addon" class="input-group-addon">mg/l</span>
                    </div>
                  </div>
                </div><!-- no3-panel -->

                <div id="no2-panel" class="hidden">
                  <div class="form-group">
                    <label for="no2-strip">Strip Color</label>
                    <div id="no2-strip" class="form-control no2-strip"><div id="no2-picker" class="strip-picker" style="left: 100px;"></div></div>
                  </div>

                  <div class="form-group">
                    <label for="nitrite-value">Value</label>
                    <div class="input-group">
                      <input id="nitrite-value" class="form-control" name="nitrite-value" type="number" pattern="[0-9]+(.[0-9]+)?" style="text-align: right;" placeholder="0.0" step="0.001" aria-describedby="nitrate-addon"></input>
                      <span id="nitrite-addon" class="input-group-addon">mg/l</span>
                    </div>
                  </div>
                </div><!-- no2-panel -->

                <div id="ph-panel" class="hidden">
                  <div class="form-group">
                    <label for="ph-strip">Strip Color</label>
                    <div id="ph-strip" class="form-control ph-strip"><div id="ph-picker" class="strip-picker" style="left: 100px;"></div></div>
                  </div>
                  <div class="form-group">
                    <label for="ph-value">Value</label>
                    <div class="input-group">
                      <input id="ph-value" class="form-control" name="ph-value" type="number" pattern="[0-9]+(.[0-9]+)?" style="text-align: right;" placeholder="0.0" step="0.001"></input>
                    </div>
                  </div>
                  <div>
                    <div id="ph-chart2" style="width: 360px; height: 180px"></div>
                  </div>

                </div><!-- ph-panel -->

                <!-- button panel -->
                <div class="form-group">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </div>

              </form>
              <!--
              <hr>
              <h3>REST API</h3>
              TODO -->
            </div><!-- /.panel-body -->
          </div><!-- /.panel (Input)-->

          <div id="alert-panel" class="panel panel-default hidden" style="margin-top: 15px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-warning-sign"></span> Alerts for <strong>{{system_name}}</strong></div>

            <div class="panel-body">
              <h4>Alerts</h4>
              <p>TODO</p>
            </div><!-- /.panel-body -->
          </div><!-- /.panel (Alert)-->

          <div id="import-panel" class="panel panel-default hidden" style="margin-top: 15px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-open-file"></span> Measurement Data Import</div>
            <div class="panel-body">
              <form method="post" action="{{url_for('import_csv')}}" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="import-file">CSV file <a id="csvhelp-link" href="#csvhelp-modal" title="CSV Upload Help" data-toggle="modal"><span class="glyphicon glyphicon-question-sign"></span></a></label>
                  <input type="file" id="import-file" name="import-file">
                  <input type="hidden" class="hidden" name="system-uid" value="{{system_uid}}"></input>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div><!-- /.panel (Import) -->

        </div><!-- /.main -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->


{# This is the modal for the CSV help #}
<div class="modal fade" id="csvhelp-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">CSV Upload Help</h4>
      </div>
      <div class="modal-body">
        <h3>CSV Upload</h3>
        <p>
          Aquaponics measurement information can be specified as a
          tabular CSV format as follows:
        </p>
        <h4>Header</h4>
        <p>
          The header specifies the content of each column, in order for the system
          to recognize the type of content, column titles must follow the following
          names:
          <ul>
            <li><strong>time</strong></li>
            <li><strong>ph</strong></li>
            <li><strong>o2</strong></li>
            <li><strong>ammonium</strong></li>
            <li><strong>nitrate</strong></li>
            <li><strong>nitrite</strong></li>
            <li><strong>light</strong></li>
          </ul>
        </p>
        <h4>Data formats</h4>
        <p>
          Measurement data is expected to be in decimal format. Time information
          has the general format
        </p>
        <p>
          <code>MONTH/DAYOFMONTH/YEAR HOURS:MINUTES:SECONDS</code>
        </p>
        <p>
          The <strong>time</strong> field is mandatory, while the user can specify any number
          of the other fields for the submitted data.
        </p>
        <h4>Example</h4>
        <p>
          The input spreadsheet should look something like this (note headers and value formats).
        </p>
        <img src="/static/images/csv_example.png" alt="CSV example">
        <p>
          Exporting this as a CSV file, wiil produce the following output:
        </p>
        <p>
          <code>
            time,o2,ph,nitrate,ammonium,temperature,light<br>
            08/13/2015 13:20:15,9.3,6.87,23.23,12.24,24.23,2300<br>
            08/14/2015 12:46:15,8.83,6.62,42.51,15.31,24.51,2230<br>
            ...<br>
          </code>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{# This is the modal for confirming deleting a system #}
<div class="modal fade" id="confirm-delete-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete System</h4>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this system ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="deletesys-button" type="submit" class="btn btn-primary">Confirm</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block bottom %}
<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={
             'modules':[{
             'name':'visualization',
             'version':'1',
             'packages':['corechart']
             }]
             }"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="/static/js/jquery.ui.touch-punch.min.js"></script>
<script src="/static/js/aquaponics.js"></script>
<script>
var isDragging = false;
function activateSectionGeneric(section, panelSelectors, liSelectors) {
  var selector = "#" + section + "-panel";
  for (var i=0; i < panelSelectors.length; i++) {
    if (panelSelectors[i] !== selector) {
      $(panelSelectors[i]).removeClass('hidden');
      $(panelSelectors[i]).addClass('hidden');
    }
  }
  $(selector).removeClass('hidden');
  selector = "#" + section + "-li";
  for (var i = 0; i < liSelectors.length; i++) {
    $(liSelectors[i]).removeClass('active');
  }
  $(selector).addClass('active');
}

function activateSection(section) {
  var panelSelectors = ["#overview-panel", "#analytics-panel", "#input-panel", "#import-panel", "#alert-panel"];
  var liSelectors = ["#overview-li", "#analytics-li", "#input-li", "#import-li", "#alert-li"];
  activateSectionGeneric(section, panelSelectors, liSelectors);
}

function activateTab(section) {
  var panelSelectors = ["#dio-panel", "#temp-panel", "#light-panel", "#nh4-panel", "#no3-panel", "#no2-panel", "#ph-panel", "#import-panel"];
  var liSelectors = ["#dio-li", "#temp-li", "#light-li", "#nh4-li", "#no3-li", "#no2-li", "#ph-li", "#import-li"];
  activateSectionGeneric(section, panelSelectors, liSelectors);
}

$('#analytics-link').click(function () { activateSection("analytics"); });
$('#overview-link').click(function () { activateSection("overview"); });
$('#input-link').click(function () { activateSection("input"); });
$('#import-link').click(function () { activateSection("import"); });
$('#alert-link').click(function () { activateSection("alert"); });

$('#dio-link').click(function () { activateTab("dio"); });
$('#temp-link').click(function () { activateTab("temp"); });
$('#light-link').click(function () { activateTab("light"); });
$('#nh4-link').click(function () { activateTab("nh4"); });
$('#no3-link').click(function () { activateTab("no3"); });
$('#no2-link').click(function () { activateTab("no2"); });
$('#ph-link').click(function () { activateTab("ph"); });

function setImage(selector, imgurl) {
  $.get("{{url_for('details_images_div', system_uid=system_uid)}}", {img_url: imgurl},
        function(data) {
          $(selector).replaceWith(data);
        });
}
function setImagePlaceholder(selector) {
  $.get("{{url_for('details_images_placeholder', system_uid=system_uid)}}",
        function(data) { $(selector).replaceWith(data); });
}

{% if img_url %}
setImage('#img-details', '{{img_url}}');
{% else %}
setImagePlaceholder('#img-details');
{% endif %}

var tempRows = {{temp_rows|tojson}};
var phRows = {{ph_rows|tojson}};
var o2Rows = {{o2_rows|tojson}};
var ammoniumRows = {{ammonium_rows|tojson}};
var nitriteRows = {{nitrite_rows|tojson}};
var lightRows = {{light_rows|tojson}};

aqx.drawChart('temp-chart', 'Temperature', aqx.makeTimeSeriesData(['Temperature'], tempRows));
aqx.drawChart('temp-chart2', 'Temperature', aqx.makeTimeSeriesData(['Temperature'], tempRows));
aqx.drawChart('ph-chart', 'pH', aqx.makeTimeSeriesData(['pH'], phRows));
aqx.drawChart('ph-chart2', 'pH', aqx.makeTimeSeriesData(['pH'], phRows));
aqx.drawChart('o2-chart', 'O2', aqx.makeTimeSeriesData(['O2'], o2Rows));
aqx.drawChart('o2-chart2', 'O2', aqx.makeTimeSeriesData(['O2'], o2Rows));
aqx.drawChart('ammonium-chart', 'Ammonium/Nitrate', aqx.makeTimeSeriesData(['Ammonium', 'Nitrate'], ammoniumRows));
aqx.drawChart('nitrite-chart', 'Nitrite', aqx.makeTimeSeriesData(['Nitrite'], nitriteRows));
aqx.drawChart('light-chart', 'Light', aqx.makeTimeSeriesData(['Light'], lightRows));

$('#deletesys-button').click(function () {
  $('#confirm-delete-modal').modal('hide');
  $.ajax({
    url: "{{url_for('delete_system', system_uid=system_uid)}}",
    async: false,
    type: 'DELETE',
    success: function(data) {
      if (data.status === 'ok') {
        window.location.replace("{{url_for('dashboard')}}");
      }
    }
  });
});

function nh4MouseEvent(e, jqThis) {
  var posx = e.pageX - jqThis.offset().left;
  $('#nh4-picker').css({left: posx, top: -1, position: "absolute"});
  // 0 - 6.0
  var value = posx * (6.0 / 200.0);
  $('#ammonium-value').attr('value', value);
}
$('#nh4-strip').click(function (e) { nh4MouseEvent(e, $(this)); });
$('#nh4-strip').mousedown(function () { isDragging = true; })
              .mousemove(function (e) { if (isDragging) nh4MouseEvent(e, $(this)); })
              .mouseup(function () { isDragging = false; });

function no3MouseEvent(e, jqThis) {
  var posx = e.pageX - jqThis.offset().left;
  $('#no3-picker').css({left: posx, top: -1, position: "absolute"});
  // 0 - 200
  var value = posx;
  $('#nitrate-value').attr('value', value);
}
$('#no3-strip').click(function (e) { no3MouseEvent(e, $(this)); });
$('#no3-strip').mousedown(function () { isDragging = true; })
              .mousemove(function (e) { if (isDragging) no3MouseEvent(e, $(this)); })
              .mouseup(function () { isDragging = false; });

function no2MouseEvent(e, jqThis) {
  var posx = e.pageX - jqThis.offset().left;
  $('#no2-picker').css({left: posx, top: -1, position: "absolute"});
  // 0 - 200
  var value = posx;
  $('#nitrite-value').attr('value', value);
}
$('#no2-strip').click(function (e) { no2MouseEvent(e, $(this)); });
$('#no2-strip').mousedown(function () { isDragging = true; })
              .mousemove(function (e) { if (isDragging) no2MouseEvent(e, $(this)); })
              .mouseup(function () { isDragging = false; });

function phMouseEvent(e, jqThis) {
  var posx = e.pageX - jqThis.offset().left;
  $('#ph-picker').css({left: posx, top: -1, position: "absolute"});
  // 6.2 - 8.4
  var value = 6.2 + (posx * (2.2 / 200.0));
  $('#ph-value').attr('value', value);
}
$('#ph-strip').click(function (e) { phMouseEvent(e, $(this)); });
$('#ph-strip').mousedown(function () { isDragging = true; })
              .mousemove(function (e) { if (isDragging) phMouseEvent(e, $(this)); })
              .mouseup(function () { isDragging = false; });
</script>
{% endblock %}
