{% extends "base.html" %}
{% block title %}System Details{% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="margin-bottom: 40px;">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#" title="General Information"><span class="glyphicon glyphicon-list-alt"></span> Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#" title="Display historical information"><span class="glyphicon glyphicon-stats"></span> Analytics</a></li>
            <li><a href="#" title="Data exchange"><span class="glyphicon glyphicon-hdd"></span> Import</a></li>
          </ul>
        </div><!-- /.col-sm-3 sidebar -->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="panel panel-default">

          <div class="panel-heading"><img style="height: 28px;" src="/static/images/leaf_icon.png">Overview for <strong>{{system_name}}</strong>  <a href="#edit" title="Edit Details"><span class="glyphicon glyphicon-pencil"></span></a></div>

          <div class="panel-body">
            <dl>
              <dt>Date Created</dt>
              <dd>{{creation_time}}</dd>
            </dl>
            <dl>
              <dt>Fish/Number</dt>
              <dd>Tilapia, 6</dd>
            </dl>
            <dl>
              <dt>Plants/Number</dt>
              <dd>Bok Choy, 4</dd>
            </dl>
            <dl>
              <dt>Tank Size</dt>
              <dd>100 gallons</dd>
            </dl>
            <dl>
              <dt>Grow Bed Substrate</dt>
              <dd>Lava Stone</dd>
            </dl>
            <dl>
              <dt>Fish Food Type/Amount</dt>
              <dd>Acme Gro-Kwik Pellets, 50g/day</dd>
            </dl>
            <strong>TODO</strong>
          </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        </div><!-- /.main -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}
