<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="75692667349-39hlipha81a3v40du06184k75ajl8u4u.apps.googleusercontent.com">
    <title>Institute for Systems Biology Aquaponics</title>
    <link rel="stylesheet" href="static/css/main.css" media="all"></link>
  </head>
  <body>
    <div id="header">
      <img src="/static/images/ISB_logo2012color.png" style="height: 65px"></img>
      <div style="clear: both;"></div>
    </div>
    <h3>Unknown Error</h3>

    <hr></hr>
    <div id="footer">
      <a href="">Android</a>
    </div>

  </body>
</html>
