{% extends "base.html" %}
{% block title %}User Profile Settings{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    <div class="container-fluid bg-danger" style="margin-top: 15px;">
      <ul class="flashes list-unstyled">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["info"]) %}
    {% if messages %}
    <div class="container-fluid bg-info"  style="margin-top: 15px;">
      <ul class="flashes list-unstyled">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}

    <div class="container-fluid">
      <div class="panel panel-default" style="margin-top: 15px;">
        <div class="panel-heading">Edit Profile Settings</div>
        <div class="panel-body">
          <h3>Default Measurement Site</h3>
          {% if has_weather %}
          <h4>Weather information</h4>
          <p>
            Humidity: {{ humidity }}%<br>
            Temperature: {{temp}} &deg;C
          </p>
          {% endif %}
          <div>
            <input type="text" id="site-location-search" style="width: 300px"></input>
            <div id="map" style="width: 90%; height: 300px; margin-top: 10px;"></div>
          </div>
        </div><!-- .panel-body -->
      </div><!-- .panel -->
    </div><!-- /.container-fluid -->

{% endblock %}
{% block bottom %}
    <script>
      var autocomplete, map, marker;
{% if site_location %}
      var siteLocation = {{site_location|safe}};
{% else %}
      var siteLocation = {lat: 47.622577, lng: -122.337436};
{% endif %}

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: siteLocation,
          zoom: 15
        });
{% if site_location %}
        marker = new google.maps.Marker({
          map: map,
          icon: '/static/images/leaf24.png',
          position: siteLocation
        });
{% endif %}

        var options = {};
        var input = document.getElementById('site-location-search');
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        autocomplete = new google.maps.places.Autocomplete(input, options);
        autocomplete.bindTo('bounds', map);

        autocomplete.place_changed = function() {
            var place = autocomplete.getPlace();
            if (place.geometry) {
                // place marker
                if (marker) marker.setMap(null);
                marker = new google.maps.Marker({
                    map: map,
                    icon: '/static/images/leaf24.png',
                    position: place.geometry.location
                });
                var geoLat = place.geometry.location.lat();
                var geoLng = place.geometry.location.lng();
                if (typeof geoLat === 'undefined' || typeof geoLng === 'undefined') {
                    console.log('error: place does not define coordinates: ' + place.geometry.location);
                } else {
                    $.post("{{url_for('update_default_site_location')}}", {lat: geoLat, lng: geoLng });
                    if (place.geometry.viewport) {
                        map.fitBounds(place.geometry.viewport);
                    } else {
                        map.panTo(new google.maps.LatLng(geoLat, geoLng));
                    }
                }
            }
        };
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap&key=AIzaSyAf5H8z54x-zJsvEcgWNtxIA8u6h17OFyY"></script>
{% endblock %}
